@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --teal: #00CBA3;
  --gray: #F5F5F5;
  --charcoal: #4B4B4B;
  --white: #fff;
  --black: #000;

  /*--font-poppins-sans: 'Poppins', sans-serif;
  --font-inter-sans: 'Inter', sans-serif;*/
}

/*body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', 'Inter', sans-serif;
}*/

html {
    @apply scroll-smooth;
}

h1 {
  @apply text-4xl font-bold mb-6;
  font-family: 'Inter', sans-serif;
}

h2 {
  @apply text-2xl font-semibold mb-4;
}

p {
  @apply text-base leading-relaxed mb-4;
}

.logo {
    @apply w-30 h-auto ml-4;
}

.navbar {
    @apply relative;
}

.navbar ul {
    @apply list-none /*py-2.5*/ flex;
}

.navbar li {
    @apply mx-4;
}
 
.navbar a {
    @apply text-black no-underline font-semibold /*py-1*/ transition-colors duration-300 ease-in-out;
}

.navbar a:hover {
    @apply text-[#00CBA3];
}

.hamburger {
  @apply hidden flex-col cursor-pointer px-3 py-3 justify-center items-center bg-[#00CBA3] rounded;
}

.hamburger span {
    @apply w-6 h-1 bg-white mb-1 transition-all duration-300 rounded-sm origin-center self-end;
}

.hamburger.active span:nth-child(1) {
    @apply rotate-45 relative top-2;
}

.hamburger.active span:nth-child(2) {
    @apply opacity-0;
}

.hamburger.active span:nth-child(3) {
    @apply -rotate-45 relative -top-2;
}

/*.content {
    @apply p-8 max-w-6xl mx-auto;
}*/
#menu-overlay.active {
    @apply block;
}

@media screen and (max-width: 1080px) {
    .hamburger {
        @apply flex order-1;
    }
    .navbar {
        @apply flex-col;
    }
    .navbar ul {
        @apply hidden flex-col order-2 absolute top-full left-0 w-full bg-[#F5F5F5] z-40 shadow-md;
    }

    .navbar ul.active {
        @apply flex;
    }

    .navbar li {
        @apply my-4;
    }

    .navbar a {
        @apply text-lg block py-2.5;
    }
}
@media screen and (max-width: 1080px) {
  .flex.flex-row.m-10 {
    @apply flex flex-row justify-between items-center w-full px-4;
  }
  .flex.flex-row.m-10 > img.logo {
    flex-grow: 1;
    text-align: center;
  }
  .navbar {
    @apply flex items-center;
  }
  .hamburger {
    @apply order-1;
  }
}

.active-link {
  @apply text-[#00CBA3] font-semibold border-b-2 border-[#00CBA3];
}

.inputform {
    @apply  rounded-lg bg-[#F5F5F5] placeholder-black m-2 my-4 box-border p-4 h-12;
}

