@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --teal: #00CBA3;
  --gray: #F5F5F5;
  --charcoal: #4B4B4B;
  --white: #fff;
  --black: #000;

  /*--font-poppins-sans: 'Poppins', sans-serif;
  --font-inter-sans: 'Inter', sans-serif;*/
}

/*body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', 'Inter', sans-serif;
}*/

html {
    @apply scroll-smooth;
}

h1 {
  @apply text-2xl md:text-4xl font-bold mb-6;
  font-family: 'Inter', sans-serif;
}

/*h2 {
  @apply text-lg md:text-2xl font-semibold mb-4;
}*/

p {
  @apply text-sm md:text-base leading-relaxed mb-4;
}

.logo {
    @apply w-30 h-auto;
}

.navbar {
    @apply relative;
}

.navbar ul {
    @apply list-none /*py-2.5*/ flex;
}

.navbar li {
    @apply mx-4;
}
 
.navbar a {
    @apply text-black no-underline font-semibold /*py-1*/ transition-colors duration-300 ease-in-out;
}

.navbar a:hover {
    @apply text-[#00CBA3];
}

.hamburger {
  @apply hidden flex-col cursor-pointer px-3 py-3 justify-center items-center bg-[#00CBA3] rounded;
}

.hamburger span {
    @apply w-6 h-1 bg-white mb-1 transition-all duration-300 rounded-sm origin-center self-end;
}

.hamburger.active span:nth-child(1) {
    @apply rotate-45 relative top-2;
}

.hamburger.active span:nth-child(2) {
    @apply opacity-0;
}

.hamburger.active span:nth-child(3) {
    @apply -rotate-45 relative -top-2;
}

/*.content {
    @apply p-8 max-w-6xl mx-auto;
}*/
#menu-overlay.active {
    @apply block;
}

@media screen and (max-width: 1024px) {
    .hamburger {
        @apply flex order-1;
    }
    .navbar {
        @apply flex-col relative w-full;
    }
    .navbar ul {
        @apply hidden flex-col order-2 absolute w-full top-full left-0 right-0 bg-[#F5F5F5] z-50 shadow-md px-4 mt-1;
    }

    .navbar ul.active {
        @apply flex;
    }

    .navbar li {
        @apply my-4 mx-0;
    }

    .navbar a {
        @apply text-lg block py-2.5 px-2;
    }
}

.active-link {
  @apply text-[#00CBA3] font-semibold border-b-2 border-[#00CBA3];
}

.inputform {
    @apply  rounded-lg bg-[#F5F5F5] placeholder-black mx-2 my-4 p-3 box-border h-10;
}
.bg-gradient-md {
  background-image: linear-gradient(
      to bottom,
      #f5f5f5 0%,     
      #f5f5f5 46.875%,    
      #00cba3 46.875%,   
      #00cba3 100%    
    );
}

@media (min-width: 768px) {  
  .bg-gradient-md {
    background-image: linear-gradient(
      to right,
      #f5f5f5 0%,
      #f5f5f5 60%,
      #00cba3 60%,
      #00cba3 100%
    );
  }
}

.swiper-pagination-bullet {
  background-color: #ccc !important;
  opacity: 0.6 !important;
}

.swiper-pagination-bullet-active {
  background-color: #00CBA3 !important;
  opacity: 1 !important;
}

footer i {
    @apply mr-1;
}
